/* *{
    
  
    font-family: 'Kanit', sans-serif;
font-family: 'Ruwudu', serif;
} */
.div-body{

    min-height: 100vh;
}
#nav{
display: flex;
justify-content: space-between;
padding: 10;
margin-top: 30px;

}
#logo{
    height: 100px;
}
#insta{
    height: 40px;
}
ul{
    font-size: 18px;
}
#footer{
       height: 25px;
    
}
#bg-img{
    
    width: 100%;
      background-size: cover;
      position: absolute;
      z-index: -10;
      top: 0;
      padding: 10rem;
}